body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #AFD2F9; 
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 20px;
}
img{  
	border: 0;  
}

form{ 
	margin: 0; 
}

label {
	font-size: 12px;
}
body, th, td, input, textarea {
	color:       black; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:   12px;
}
input,textarea,select {
    font-size: 12px;
    color: rgb(70, 95, 125);
    background-color:#FFFFFF;
	font-family: Verdana;   
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-color: rgb(216, 219, 226);
    border-right-color: rgb(216, 219, 226);
    border-bottom-color: rgb(216, 219, 226);
    border-left-color: rgb(216, 219, 226);
}

.fileUploadInput{
    font-size:           11px;
    color: 			     rgb(70, 95, 125);
    background-color:    #FFFFFF;
	font-family: 	     Verdana;       
    border-top-style:    solid;
    border-right-style:  solid;
    border-bottom-style: solid;
    border-left-style:   solid;
    border-top-width:    thin;
    border-right-width:  thin;
    border-bottom-width: thin;
    border-left-width:   thin;
    border-top-color:    rgb(216, 219, 226);
    border-right-color:  rgb(216, 219, 226);
    border-bottom-color: rgb(216, 219, 226);
    border-left-color:   rgb(216, 219, 226);
}

a:link, a:visited{
	font-size: 13px;
	color: black;
	text-decoration: none;
	font-weight: normal;
}
a:hover{
	color: black;
	text-decoration: underline;
	font-weight: normal;
}
.titulosLabel{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
.subTitulosLabel{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.panelTotal{
	width: 800px;
}
.panelContenido{
	margin-right: 20px; 
	width: 800px;
}
.panelPie{
	width: 800px;
	text-align:center;
}

.panelOpciones{
	text-align: center;
	padding-left: 2px;
	padding-top:  0px;
	padding-bottom: 0px;
	margin-top: 0px;
	padding: 0px;
	padding-right: 100px;	
}

.mensajeTextoOk{
	background:  transparent;
	font-size:   10px;
	color:       blue; 
	font-weight: bold;	
}

.mensajeTextoError{
	background:  transparent;
	font-size:   10px;
	color:       Red;
	font-weight: bold;	
}

.mensajeTextoWarning{
	background:  transparent;
	font-size:   10px;
	color:       purple;
	font-weight: bold;	
}

.messageText{
	background:  transparent;
	font-size:   10px;
	color:       blue;
	font-weight: bold;	
}

.warningText{
	background: transparent;
	font-size: 10px;
	color: purple;
	font-weight: bold;	
}


.AlinearComponenteDer{
	float: right;
	text-decoration: none;
}

.errorText{
	background: transparent;
	font-size: 10px;
	color: Red;
	font-weight: bold;	
}


.AlinearComponenteCentro {
	text-align: center;
	text-decoration: none;
}


.AlinearComponenteDer {
	float: right;
}


.AlinearComponenteIzq {
	float: left;
}


	label {
		font-weight: bold;
	}
	fieldset {
		border: 1px solid #eee;
		padding: 5px 10px;
		margin: 0 0 1.5em 0;
	}
	fieldset legend {
		color: #666;
		font-size: 1.1em;
		font-weight: bold;
		margin: 0 0 0 0px;
		padding: 0;
		background-color: white;
	}
	
	input.check {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.radio {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.file {
		height: auto;
		width: 250px;
	}
	input.readonly {
		background-color: transparent;
		border: none;
	}
	input.button {
		width: 10em;
		border:1px solid black;
		background-color: #ddd;
	}
	input.image {
		border: none;
		width:  auto;
		height: auto; 
	}

.piePagina{
  color:            #003D97; 
  font-size:        15px;
  font-weight:      bold;	
  text-decoration:  none;
  background-color: #8FB2CB;
  font-family: 	    Verdana; 
}

.menuPrincipal{
  color:            #FFFFFF; 
  font-size:        15px;
  font-weight:      bold;	
  text-decoration:  none;
  background-color: #0066FF;
  font-family: 	    Verdana; 
}

.menu{
  color:            #FFFFFF; 
  font-size:        15px;
  font-weight:      bold;	
  text-decoration:  none;
  background-color: #0066FF;
  font-family: 	    Verdana; 
}

.textoMenuPrincipal{
  color:           #FFFFFF; 
  font-size:       14px;
  text-decoration: none;
}

.textoMenu{
  color:           #003D97; 
  font-size:       14px;
  text-decoration: none;
}

/* END FORM ELEMENTS */




